* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html, body {
    height: 100%;
    width: 100%
}

#screen { 
    height: 100%;
    width: 100%;
    /* background-color: #e13c3c; */
}

#nav {
    height: 100px;
    width: 100%;
    /* background-color: #dadada; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

#elem1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav h3 {
    border: 1.5px solid black;
    padding: 5px 10px;
    border-radius: 50px;
    font-weight: 500;
}

#nav i {
    border: 1.5px solid black;
    padding: 5px 10px;
    border-radius: 50px;
}

#nav h1 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
}

#nav button {
    padding: 5px 13px;
    border-radius: 50px;
    border: 1.5px solid #000;
    font-weight: 600;
    /* background-color: #fff; */
}

#but2 {
    background-color: orange;
    color: #fff;
}

#head {
    font-size: 120px;
    font-weight: 100;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

img {
    height: 410px;
    width: 330px;
    object-fit: cover;
    /* object-position: top; */
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#first {
    transform: translate(-50%,-50%) rotate(-55deg);
}

#second {
    transform: translate(-50%,-50%) rotate(-40deg);
}

#third {
    transform: translate(-50%,-50%) rotate(-20deg);
}

#fourth {
    transform: translate(-50%,-50%) rotate(-10deg);
}

#fifth {
    transform: translate(-50%, -50%) rotate(0deg);
}
#btm_left {
    position: absolute;
    bottom: 5%;
    left: 2%;
    font-size: 16px;
    font-weight: 500;
}
#last {
    position: absolute;
    bottom: 7%;
    right: 2%;
}
#btm_right {
    position: absolute;
    bottom: 2.5%;
    right: 2%;
    font-weight: 500;
}